
#title {
    background-color: #0078a0;
}

#bio {
    background-color: #0078a0;
	color: #00394B
}

#bio .subheader{
	color: #00394B
}

#bio a {
	color: #98DBF1
}

#bio a:hover {
	color: #59D4FC
}

#experiences {
    background-color: #00AA73;
	color: #00432D
}

#experiences .subheader{
	color: #00432D
}

#experiences a {
	color: #C5F9AE
}

#experiences a:hover {
	color: #FFFFFF
}

#passions {
    background-color: #6FE769;
	color: #0E380C
}

#passions .subheader{
	color: #0E380C
}

#links {
    background-color: #007ba4;
}


#links .subheader{
    color: #303030;
}

.clearing-featured-img{
    margin-bottom: 1rem;
}

a[class^='socicon'] {
    font-size: 2rem;
    color: #303030;
    padding: 0.5rem;
}

a[class^='socicon']:hover {
    color: #1a1a1a;
}

section.content_section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
