.top-bar, .top-bar ul {
	background-color: #333333;
}

.sticky.is-stuck {
	/* this is for the carousels arrows floating over top-bar */
	z-index: 4;
}

.top-bar a:hover {
    color: #aaaaaa;
}

a.fa {
    font-size: 2rem;
}

.menu-text {	
	padding: 0rem;
	font-size: 1.7rem;
}

.top-bar a {
	color: #ffffff;		
    padding: 0.5rem;
}

#bio, #bio .subheader{
    background-color: #226666;
	color: #ffffff
}

#bio a {
	color: #BCDE54
}

#bio a:hover {
	color: #ffffff
}

#experiences, #experiences .subheader {
    background-color: #2D882D;
	color: #ffffff
}
#experiences a {
	color: #00EB9C
}

#experiences a:hover {
	color: #ffffff
}

#passions, #passions .subheader {
    background-color: #FFBF3A;
	color: #000000
}

#links {
    background-color: #226666;
}


#links .subheader{
    color: #000000;
}

.clearing-featured-img{
    margin-bottom: 1rem;
}

section.content_section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
