
#title {
    background-color: #0078a0;
}

#bio {
    background-color: #0078a0;
}

#beliefs {
    background-color: #3a945b;
}

#experiences {
    background-color: #1cc7ff;
}

#passions {
    background-color: #43AC6A;
}

#links {
    background-color: #007ba4;
}

.subheader {
    color: #303030;
}

.clearing-featured-img{
    margin-bottom: 1rem;
}

a[class^='socicon'] {
    font-size: 2rem;
    color: #303030;
    padding: 0.5rem;
}

a[class^='socicon']:hover {
    color: #1a1a1a;
}

section.content_section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*TODO stilare i link*/
/*TODO visibilità titoli*/
